@charset "UTF-8";
/**
 * ============================================================================
 * 1. VARIABLES
 * 2. INDEX
 * ============================================================================
 */

/**
 * ============================================================================
 * RESETS
 * ============================================================================
 */

body, a, p, span, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

a {
  color: #004680;
}

/**
 * ============================================================================
 * BTN
 * ============================================================================
 */

.pv-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  line-height: 3rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  border-radius: 0.375em;
  border: 0.125rem solid transparent;
  background: transparent;
  height: 3rem;
  padding: 0 0.5rem;
  -webkit-box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.pv-btn a {
  color: #ffffff;
}

.pv-btn.pv-btn-border {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.pv-btn-block {
  width: 100%;
}

.pv-btn-primary {
  background-color: #004680;
}

.pv-btn-primary:hover {
  color: rgba(0, 70, 128, 0, 5);
}

.pv-btn-gray {
  background-color: #f57c00 !important;
}

.pv-btn-gray:hover {
  color: #ffffff;
}

.pv-btn-green {
  background-color: #4caf50;
}

.pv-btn-green:hover {
  color: #ffffff;
}

.pv-btn-border {
  border: 0.125rem solid #004680;
}

.pv-icon {
  display: inline-block;
  vertical-align: middle;
}

.pv-icon.pv-icon-cadastro {
  width: 19px;
  height: 20px;
  background: url("#{facesContext.externalContext.requestContextPath}/img/icons/icon-cadastro.png") no-repeat !important;
}

.pv-icon.pv-icon-login {
  width: 20px;
  height: 20px;
  background: url("#{facesContext.externalContext.requestContextPath}/img/icons/icon-login.png") no-repeat;
}

.pv-icon.pv-icon-validar-certificado {
  width: 19px;
  height: 20px;
  background: url("#{facesContext.externalContext.requestContextPath}/img/icons/icon-validar-certificado.png") no-repeat;
}

.pv-icon.pv-icon-user {
  width: 15px;
  height: 20px;
  background: url("#{facesContext.externalContext.requestContextPath}/img/icons/icon-user.png") no-repeat;
}

/**
 * ============================================================================
 * HEADER
 * ============================================================================
 */

#roda {
  position: absolute !important;
  width: 30% !important;
  height: 20% !important;
  z-index: 999 !important;
  bottom: -10px !important;
  margin-left: 10px !important;
}

@media (min-width: 320px) and (max-width: 650px) {
  #roda {
    width: 100% !important;
    position: relative !important;
    bottom: 0 !important;
    margin-left: 0 !important;
  }
  .input-group {
    display: flow-root !important;
    width: 100% !important;
  }
  .form-control {
    width: 100% !important;
  }
  .input-group-prepend {
    display: block;
  }
}

/**
 * ============================================================================
 * TOP HEAD
 * ============================================================================
 */

.top-head {
  background-color: #004680;
  color: #ffffff;
  padding: 0.5rem 0;
}

.top-head a {
  color: #ffffff;
}

.top-head .menu-social-media {
  justify-content: normal;
  align-items: center;
}

.top-head .menu-social-media li.nav-item a.nav-link {
  margin: 0 0.5rem;
  color: #ffffff;
}

.links {
  text-align: right;
}

.links a {
  padding: 0 1rem;
}

.links a:last-child {
  padding-right: 0;
}

@media screen and (min-width: 495px) and (max-width: 992px) {
  .links {
    text-align: center;
  }
  .links a {
    padding: 0 0.1rem;
  }
}

@media (max-width: 494px) {
  .links {
    text-align: center;
  }
  .links a {
    padding: 0;
  }
}

#main-nav {
  display: flex;
  flex-flow: wrap;
  padding: 1rem 0;
}

.navbar-pma {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

#main-nav .navbar-brand img {
  max-width: 30%;
}

@media (min-width: 320px) and (max-width: 992px) {
  .navbar {
    justify-content: flex-end;
  }
  .emailMobile {
    font-size: smaller;
  }
  #main-nav .navbar-brand img {
    max-width: 100%;
  }
}

/**
 * ============================================================================
 * MAIN NAVBAR
 * ============================================================================
 */

#main-navbar .dropdown-menu {
  position: absolute;
  top: 100%;
  left: -104px;
  width: 532px;
  -webkit-transform: translateY(17px);
  -ms-transform: translateY(17px);
  transform: translateY(17px);
  opacity: 0;
  visibility: hidden;
  display: block !important;
  will-change: transform, opacity;
  transition: opacity 0.27s ease, visibility 0.27s ease, -webkit-transform 0.27s ease;
  transition: transform 0.27s ease, opacity 0.27s ease, visibility 0.27s ease;
  transition: transform 0.27s ease, opacity 0.27s ease, visibility 0.27s ease, -webkit-transform 0.27s ease;
  box-shadow: 0 12px 20px 0 rgba(23, 28, 33, 0.16);
  background-color: #ededed;
  border-radius: 4px 4px 0 0;
  padding: 22px 33px 20px;
  border: none;
  box-sizing: border-box;
}

#main-navbar .dropdown-menu li a {
  color: #004680;
  font-size: 16px;
  text-transform: initial;
  font-weight: normal;
}

#main-navbar .dropdown-menu li i {
  color: #656565;
  margin-right: 5px;
  vertical-align: middle;
}

#main-navbar li.nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

#main-navbar .dropdown-menu:before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 9px solid transparent;
  border-bottom: 9px solid #ededed;
  bottom: 100%;
  left: 124px;
}

.menu-bars {
  display: none;
  font-size: 2rem;
  margin-right: 1rem;
}

.menu-bars:hover {
  text-decoration: none;
}

@media all and (max-width: 992px) {
  .menu-bars {
    display: block;
  }
}

.menu-search {
  display: none;
  font-size: 2rem;
}

.menu-search:hover {
  text-decoration: none;
}

@media all and (max-width: 992px) {
  .menu-search {
    display: block;
  }
}

.btn-search {
  color: #004680;
}

/**
 * ============================================================================
 * SEARCH FULL
 * ============================================================================
 */

#search-full-overlay {
  display: none;
  overflow: hidden;
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

#search-full-overlay>.overlay-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 1.75em 17px 3.75em 1.875em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 940;
  height: 100%;
  background-color: #fff;
}

#search-full-overlay>.overlay-wrapper:before {
  top: 0;
  height: 5px;
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  background-image: linear-gradient(120deg, #004680, #004680);
}

#search-full-overlay>.overlay-wrapper #btn-overlay-close {
  padding: 6px;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  z-index: 1002;
  border-radius: 25px;
  font-size: 1.5rem;
  color: #004680;
}

#search-full-overlay.active {
  display: block;
  z-index: 3147483000;
}

.ps {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none;
}

.search-loader {
  padding: 45px 20px;
  background: url(../../assets/img/loader.svg) no-repeat center 5px;
}

.hidden {
  display: none;
}

/*Search Form*/

.search-form.no-radius-medium .field.icon.search:before {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  content: "\f002";
  color: #6d798a;
  position: absolute;
  font-size: 35px;
  top: 50%;
  left: 2%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search-form.no-radius-medium .field.icon input {
  padding-left: 60px;
}

.field.icon.search {
  position: relative;
  height: 70px;
}

.search-form.no-radius-medium input[type="text"] {
  padding: 20px;
  width: 100%;
  color: #56606e;
  font-size: 18px;
  border: 1px solid #f0f2f4;
  background-color: #f0f2f4;
}

#search-full-overlay>.overlay-wrapper .form-search .btn-send {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  padding: 8px 26px;
  border: none;
  background-color: #006499;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  border-radius: 0.375em;
  width: 100px;
}

#search-full-overlay>.overlay-wrapper .overlay-result-box {
  margin: 70px 0;
}

.search-result-showcase {
  width: 100%;
}

.item-showcase {
  text-align: left;
}

.item-showcase .wrapper {
  display: block;
  margin-bottom: 18px;
}

.item-showcase h4 {
  font-size: 17.5px;
  line-height: 24px;
  min-height: 150px;
}

.item-showcase h4 a {
  color: #3e464f;
}

.item-showcase h4 a:hover {
  color: #007bff;
  text-decoration: underline;
}

.item-showcase span {
  display: block;
  margin-bottom: 12px;
  font-size: 14.3px;
  text-transform: uppercase;
  color: #a1adba;
}

.overlay-brand img {
  max-width: 255px;
}

.overlay-close {
  float: right;
  width: 23px;
  height: 28px;
}

.menu-social-media, .menu-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu-nav li.nav-item {
  padding: 0;
  margin: 0.5rem;
}

.menu-social-media li.nav-item {
  padding: 0;
  margin: 0;
}

.menu-social-media li.nav-item.active a, .menu-nav li.nav-item.active a {
  color: #444444;
  border-bottom: 2px solid #444444;
}

.menu-social-media li a, .menu-nav li a {
  color: #869199;
}

.menu-nav li.dropdown.nav-item.active a {
  border-bottom: none;
}

.menu-social-media li.nav-item:last-child a, .menu-nav li.nav-item:last-child a {
  margin-right: 0;
}

.menu-social-media li.nav-item a.nav-link, .menu-nav li.nav-item a.nav-link {
  padding: 0;
  margin: 0;
}

.menu-nav li.nav-item a.nav-link i {
  font-size: 1.5rem;
}

.menu-social-media form form {
  position: relative;
  width: 415px;
}

.menu-social-media form form button[type="submit"] {
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
}

.menu-social-media form form button[type="submit"].cat {
  padding: 0.2rem 1rem;
}

/**
 * ============================================================================
 * KEYFRAMES
 * ============================================================================
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
  }
}

/**
 * ============================================================================
 * LOGIN CONTENT
 * ============================================================================
 */

.login-content {
  background-color: #004680;
}

.login-content .form-group {
  margin-bottom: 0;
}

.msg-login h5 {
  font-weight: bold;
}

.msg-login h5, .msg-login h6 {
  color: #ffffff;
}

.msg-login a {
  color: #006499;
}

.msg-login a:hover {
  text-decoration: underline;
}

/**
 * ============================================================================
 * FORM
 * ============================================================================
 */

.form-control {
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  border-radius: 0.375em;
  border: 0.125rem solid transparent;
  background-color: #ffffff;
  height: 3rem;
  vertical-align: middle;
  padding: 0 0.5rem;
  -webkit-box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
}

.hero-image {
  background: url("../../assets/img/hero-image.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 100vh;
}

.btnCadPMA {
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 0.3rem !important;
  font-weight: bolder !important;
  background-color: #0067d6 !important;
  border-color: #0067d6 !important;
}

.btnCadPMA:hover {
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border-radius: 0.3rem !important;
  background-color: #0060c7 !important;
  border-color: #0060c7 !important;
}

/**
 * ============================================================================
 * OWL SLIDER
 * ============================================================================
 */

#owl-slider .owl-item {
  position: relative;
  width: 100%;
}

#owl-slider .owl-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient( top, rgba(255, 255, 255, 0) 20%, #fff 70%, #fff 100%);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(70%, #fff), color-stop(100%, #fff));
  background: -webkit-linear-gradient( top, rgba(255, 255, 255, 0) 20%, #fff 70%, #fff 100%);
  background: -o-linear-gradient( top, rgba(255, 255, 255, 0) 20%, #fff 70%, #fff 100%);
  background: -ms-linear-gradient( top, rgba(255, 255, 255, 0) 20%, #fff 70%, #fff 100%);
  background: linear-gradient( to bottom, rgba(255, 255, 255, 0) 20%, #fff 70%, #fff 100%);
}

#owl-slider .owl-item .text-slider {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.375em;
  padding: 2rem;
}

#owl-slider .owl-item .text-slider.no-display-text {
  display: none;
}

#owl-slider .owl-item .button-slider {
  position: absolute;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 60%;
  left: 50%;
  /*     padding: 1rem; */
  /*     -webkit-border-radius: .375em; */
  /*     -moz-border-radius: .375em; */
  /*     border-radius: .375em; */
  /*     border: 3px solid #006499; */
  z-index: 10;
}

#owl-slider .owl-item .button-slider .btn-slider {
  font-size: 2rem;
  font-weight: bold;
}

#owl-slider .owl-item .button-slider .btn-slider i {
  font-size: 2rem;
}

@media (min-width: 495px) and (max-width: 800px) {
  #owl-slider .owl-item .button-slider {
    /*border: 2px solid #006499; */
  }
  #owl-slider .owl-item .button-slider .btn-slider {
    font-size: 1.2rem;
  }
  #owl-slider .owl-item .button-slider .btn-slider i {
    font-size: 1.2rem;
  }
}

@media (max-width: 494px) {
  #owl-slider .owl-item .button-slider {
    /*border: 2px solid #006499; */
  }
  #owl-slider .owl-item .button-slider .btn-slider {
    font-size: 0.8rem;
  }
  #owl-slider .owl-item .button-slider .btn-slider i {
    font-size: 0.8rem;
  }
}

.line {
  width: 100%;
  height: 40px;
  background-color: #006499;
}

/**
 * ============================================================================
 * PAGE CONTENT MAIN
 * ============================================================================
 */

.title-header {
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #cbdbec;
  color: #006499;
  padding-bottom: 20px;
  margin: 0 0 45px;
}

/**
 * ============================================================================
 * SECTION CAMPANHAS
 * ============================================================================
 */

#sc-campanhas {
  padding: 4rem 0;
}

/**
 * ============================================================================
 * SECTION CAMPANHAS
 * ============================================================================
 */

#sc-counters {
  padding: 4rem 0;
  background-color: #006499;
  float: left;
  width: 100%;
}

.sc-counter-title {
  color: #ffffff;
  text-align: center;
}

.sc-counter-title h2 {
  font-size: 56px;
}

.sc-counter-title h2, .sc-counter-title p {
  font-weight: bold;
}

/**
 * ============================================================================
 * SECTION
 * ============================================================================
 */

#sc-testimonials {
  background: url("../../assets/img/bg-testimonials.jpg") center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  float: left;
  width: 100%;
  padding: 4rem 0;
}

/**
 * ============================================================================
 * OWL TESTIMONIALS
 * ============================================================================
 */

#owl-testimonials {
  float: left;
  width: 100%;
}

#owl-testimonials .owl-item {
  padding: 3rem 20rem;
}

@media (max-width: 992px) {
  #owl-testimonials .owl-item {
    padding: 2rem 1rem;
  }
}

#owl-testimonials .testimonial {
  position: relative;
}

#owl-testimonials .testimonial .testimonial-text {
  position: relative;
  padding: 1rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  color: #006499;
  height: 160px;
}

#owl-testimonials .testimonial .testimonial-text p {
  margin: 0;
  color: #ffffff;
}

#owl-testimonials .testimonial .pic-testimonials {
  position: absolute;
  height: 120px;
  bottom: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

#owl-testimonials .testimonial .pic-testimonials img {
  width: 75px;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid #006499;
}

#footer {
  float: left;
  width: 100%;
}

@media screen and (max-width: 768px) {
  #footer [class*="col-"] {
    text-align: center !important;
    margin: 1rem 0;
  }
}

.copy {
  float: left;
  width: 100%;
  background-color: #004680;
  text-align: center;
  margin-top: 4rem;
}

.copy p {
  width: 100%;
  color: #ffffff;
  padding: 1rem 0;
  margin: 0;
}

.col-4.border-right-col:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #0d0d0d;
  height: 100px;
  width: 2px;
  transform: translateY(-50%);
}

/**
 * ============================================================================
 * SECTION WRAPPER
 * ============================================================================
 */

.section-wrapper {
  height: 100%;
  position: relative;
  float: left;
  width: 100%;
}

.bg-blue-light {
  background-color: #006499;
}

/**
 * ============================================================================
 * PAGE CADASTRO
 * ============================================================================
 */

/**
 * ============================================================================
 * PAGE CADASTRO INSTITUCIONAL
 * ============================================================================
 */

/**
 * ============================================================================
 * MULTI FORM
 * @ https://www.jqueryscript.net/form/Signup-Form-Wizard-jQuery-multiStepForm.html
 * ============================================================================
 */

.tab {
  display: none;
  width: 100%;
  height: 50%;
  margin: 0 auto;
}

.current {
  display: block;
}

#multi-form {
  float: left;
  width: 100%;
  padding: 2rem 0;
}

#multi-form textarea {
  height: 200px;
  resize: none;
  padding: 1rem;
}

#multi-form .multi-form-label {
  padding-left: 1rem;
  color: #006499;
  margin-bottom: 8px;
}

#multi-form .form-group {
  margin-bottom: 2rem;
}

#multi-form .form-control {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#multi-form .form-control-lg {
  font-size: 1rem;
  color: #c9ced1;
  position: relative;
  z-index: 9;
}

#multi-form .custom-control {
  float: left;
  width: 100%;
}

#multi-form .custom-control .form-content label.error {
  text-indent: initial;
  border: none;
  top: 100%;
}

#multi-form .custom-checkbox {
  color: #006499;
  font-size: 0.9rem;
}

.form-content {
  position: relative;
}

.form-content label.error {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  border-radius: 0.375em;
  border: 1px solid #ef5350;
  text-indent: -999999px;
  z-index: 1;
  top: 0;
  left: 0;
}

.multi-form-step-number {
  text-align: center;
  margin: 0 0 40px;
  display: flex;
  position: relative;
}

.multi-form-step-number .step {
  flex: 1 auto;
  text-align: center;
  font-weight: bold;
  color: #c6ccd0;
}

.multi-form-step-number .step.finish-step .step-number {
  border: 4px solid #006499;
  color: #006499;
}

.multi-form-step-number .step.finish-step .step-number span {
  width: 50px;
  height: 41px;
  background: url(../../assets/img/icons/icon-upload-check.png);
  text-indent: -999999px;
}

.multi-form-step-number .step.finish-step .step-text {
  color: #006499;
}

.multi-form-step-number .step.active .step-number {
  border: 4px solid #006499;
  color: #006499;
}

.multi-form-step-number .step.active .step-text {
  color: #006499;
}

.multi-form-step-number .step:last-child .step-number:after {
  content: none;
}

.multi-form-step-number .step .step-number {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 4px solid #c6ccd0;
  vertical-align: middle;
  position: relative;
  margin: 0 auto;
  background-color: #ecf3fc;
}

.multi-form-step-number .step .step-number:after {
  content: "";
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 6px dotted #006499;
  width: 190%;
  right: 0;
  position: absolute;
  left: 105%;
}

.multi-form-step-number .step .step-number span {
  font-size: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.multi-form-step-number .step .step-text {
  width: 100%;
  margin-top: 15px;
}

.multi-form-group-button {
  width: 100%;
}

.multi-form-group-button .multi-form-content-button {
  float: right;
  width: 100%;
}

.multi-form-group-button .multi-form-content-button .next, .multi-form-group-button .multi-form-content-button .previous, .multi-form-group-button .multi-form-content-button .submit {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  font-size: 1rem;
  line-height: 3rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  border-radius: 0.375em;
  border: 0.125rem solid transparent;
  background: transparent;
  height: 3rem;
  padding: 0 3rem;
  -webkit-box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  box-shadow: 8px 10px 20px 0 rgba(46, 61, 73, 0.15);
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}

.multi-form-group-button .multi-form-content-button .next.pv-btn-primary, .multi-form-group-button .multi-form-content-button .previous.pv-btn-primary, .multi-form-group-button .multi-form-content-button .submit.pv-btn-primary {
  background-color: #006499;
}

.multi-form-group-button .multi-form-content-button .next.pv-btn-primary:hover, .multi-form-group-button .multi-form-content-button .previous.pv-btn-primary:hover, .multi-form-group-button .multi-form-content-button .submit.pv-btn-primary:hover {
  color: #ffffff;
}

.multi-form-group-button .multi-form-content-button .next.pv-btn-gray, .multi-form-group-button .multi-form-content-button .previous.pv-btn-gray, .multi-form-group-button .multi-form-content-button .submit.pv-btn-gray {
  background-color: #c6ccd0;
}

.multi-form-group-button .multi-form-content-button .next.pv-btn-gray:hover, .multi-form-group-button .multi-form-content-button .previous.pv-btn-gray:hover, .multi-form-group-button .multi-form-content-button .submit.pv-btn-gray:hover {
  color: #ffffff;
}

.multi-form-group-button .multi-form-content-button .next.pv-btn-green, .multi-form-group-button .multi-form-content-button .previous.pv-btn-green, .multi-form-group-button .multi-form-content-button .submit.pv-btn-green {
  background-color: #4caf50;
}

.multi-form-group-button .multi-form-content-button .next.pv-btn-green:hover, .multi-form-group-button .multi-form-content-button .previous.pv-btn-green:hover, .multi-form-group-button .multi-form-content-button .submit.pv-btn-green:hover {
  color: #ffffff;
}

.multi-form-group-button .multi-form-content-button .next.left, .multi-form-group-button .multi-form-content-button .previous.left, .multi-form-group-button .multi-form-content-button .submit.left {
  float: left;
}

.multi-form-group-button .multi-form-content-button .next.right, .multi-form-group-button .multi-form-content-button .previous.right, .multi-form-group-button .multi-form-content-button .submit.right {
  float: right;
}

@media (min-width: 320px) and (max-width: 768px) {
  .multi-form-group-button .multi-form-content-button .next, .multi-form-group-button .multi-form-content-button .previous, .multi-form-group-button .multi-form-content-button .submit {
    width: 100%;
    float: left;
    margin-bottom: 1rem;
  }
}

@media (min-width: 320px) and (max-width: 650px) {
  .overflow-mobile {
    min-height: 350px;
    overflow-x: scroll;
  }
  .overflow-mobile>.row {
    width: 600px;
  }
  .multi-form-step-number .step {
    flex: 0 0 100%;
  }
  .multi-form-step-number .step.finish-step {
    display: none;
  }
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border: 1px solid #aaaaaa;
}

button {
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.btn-pv {
  padding: 10px 20px;
}

button:hover {
  opacity: 0.8;
}

.previous {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form:
.step {
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin: 0 2px;
  color: #fff;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.8;
  padding: 5px;
  &.active {
    opacity: 1;
    background-color: #69c769;
  }
  &.finish {
    background-color: #4CAF50;
  }
}
*/

.error {
  color: #f00;
}

.file-input {
  width: 100%;
  height: 300px;
  position: relative;
  background-color: #ffffff;
  -webkit-border-radius: 0.375em;
  -moz-border-radius: 0.375em;
  border-radius: 0.375em;
}

.file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
}

.file-input-button {
  position: absolute;
  bottom: 10%;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.file-input-icon-upload {
  width: 42px;
  height: 51px;
  margin: 0 auto;
  background-image: url(../../assets/img/icons/icon-upload-button.png);
  top: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-input-icon-success {
  width: 50px;
  height: 41px;
  margin: 0 auto;
  background-image: url(../../assets/img/icons/icon-upload-check.png);
  top: 40%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-input-name {
  position: absolute;
  top: 55%;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  color: #006499;
}

/**
 * ============================================================================
 * SCROLLBAR
 * @ https://mdbootstrap.com/javascript/smooth-scroll/
 * ============================================================================
 */

.scrollbar {
  float: left;
  height: 300px;
  width: 100%;
  background: #fff;
  overflow-y: scroll;
  margin-bottom: 25px;
  padding: 1rem;
}

.force-overflow {
  min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285f4;
}

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547;
}

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff8800;
}

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00c851;
}

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5;
}

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2bbbad;
}

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc;
}